<!DOCTYPE html>
<html lang="en">
<head>
    <title>Not Alma Uygulaması</title>
</head>
<body>

    <h1>Notlarım</h1>
    
    <form action ="/add" method ="POST">
    	<input type="text" name ="note" placeholder="yeni bir not yaz">
    	<select name="category">
        <option value="İş">İş</option>
        <option value="Kişisel">Kişisel</option>
        <option value="Alışveriş">Alışveriş</option>
    </select>
    	
    	
    	
    	
    	
    	
    	<button type ="submit"> ekle </button>
    </form>
{% for note in notes %}
    <p>
        ID: {{ note[0] }} <br>
        İçerik: {{ note[1] }} <br>
        Kategori: {{ note[2] }} <br>
    </p>
{% endfor %}



</body>
</html>
